@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode Variables (HSL) */
    --primary: 0 43% 57%; /* #000000 */
    --secondary: 0 0% 100%; /* #ffffff */
    --background: 0 0% 0%; /* #000000 */
    --foreground: 0 0% 100%; /* #ffffff */
    --border: 0 0% 0%; /* #000000 */
    --border-secondary: 0 0% 100%; /* #ffffff */
  }

  .dark {
    /* Dark Mode Variables (HSL) */
    --primary: 0 0% 100%; /* #ffffff */
    --secondary: 0 0% 0%; /* #000000 */
    --background: 0 0% 100%; /* #ffffff */
    --foreground: 0 0% 0%; /* #000000 */
    --border: 0 0% 100%; /* #ffffff */
    --border-secondary: 0 0% 0%; /* #000000 */
  }
}
